.DS_Store
.env
/node_modules/

# React Router
/.react-router/
/build/
.wrangler/

tsconfig.tsbuildinfo
migrations/local.db

# Playwright
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/